# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\intelj\Projekt\spaceinv3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
